{% extends 'base.html' %}
{% load static %}

{% block title %}
    Projects
{% endblock %}
{% block content %}
<div class="topPage">
    <h1 style="font-family: 'SoCloudy', 'sans-serif'" > My Projects</h1>
{#    <h4><a href="index.html" class="back_button">Back</a></h4>#}
</div>

    <style>
    @keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Assuming your project cards have a class 'project-card' */
.project-card {
    transition: all 0.3s ease;
}

.project-card:hover {
    animation: bounce 0.8s ease infinite;
    will-change: transform;
}

    </style>
{#/* TODO Round corners of cards for projects */#}
<div class="pythonTable">
<div class="row justify-content-center">
    {% for project in projects %}
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4 project-card card col" style="width: 18rem; margin: 5% 5%;">
        {% if project.image %}
            <img class="card-img-top" src="{{ project.image.url }}" alt="Card image cap">
            {% else %}
            <img class="card-img-top" src="{% static 'Portfolio/images/placeholderImg.jpg' %}" alt="Card image cap">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.subtitle }}</p>
                <a href="{% url 'project-detail' project.pk %}" class="btn btn-info">Details</a>
            </div>
        </div>
    {% endfor %}
</div>



</div>

    {% include 'Portfolio/includes/footer.html' %}

{% endblock %}

