{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="top-container">
      <img class="top-cloud " src="{% static 'Portfolio/images/cloud.png' %}" alt="cloud-img">
      <h1>I'm Dillon.</h1>
      <h2 class="programmer">a <span class="pro"> pro</span>grammer.</h2>
      <img class="bottom-cloud" src="{% static 'Portfolio/images/cloud.png' %}" alt="cloud-img">
        <img src="{% static 'Portfolio/images/mountain.png' %}" alt="mountain-img">
    </div>

    <div class="middle-container">
      <div class="profile">
        <img src="{% static 'Portfolio/images/prof_pic_.png'%}" alt="personal-photo">
        <h2>Hello.</h2>
        <p class="intro">I am a backend developer passionate about team collaboration, learning new technologies, and improving my skills.</p>
      </div>
      <hr>
      <div class="skills">
        <h2>My Skills.</h2>
        <div class="skill-row">
          <img class="pyImage" src="{% static 'Portfolio/images/pyimage.jpg'%}" alt="python-png">
          <h3 class="Python"><a href="#" class="Python">Python</a></h3>
        <p>With 4+ years of experience with Python, I have knowledge on the ins and outs of this language and use this as my primary choice for projects.
          I have used tools offered from this language such as numpy, SQLite, flask, selenium, pandas, turtle, tkinter, smtplib, and various others in order     to create functional programs.</p>
        <a href="#" style="margin-left:35%;"><button class="btn btn-outline-info" >View Projects</button></a>
      </div>
        <div class="skill-row">
          <img class="javimage" src="{% static 'Portfolio/images/javimage.jpg'%}" alt="java-png">
          <h3 class="Java"><a href="#" class="Java">Java</a></h3>
        <p>With 3+ years of experience with Java, I have used this langauge extensively and have an in depth understanding on the concepts provided by this langauge such as Java streams, springboot, and maven.</p>
        <a href="#" style="margin-left:35%;"><button class="btn btn-outline-info" >View Projects</button></a>
      </div>
        <div class="skill-row">
          <img class="webimage" src="{% static 'Portfolio/images/webimages.jpg'%}" alt="web-png">
          <h3>Web Development</h3>
        <p>I have 2+ years of experience with HTML and CSS and have consistently used these front end languages to make functional websites. In addition to this, I am experienced with web frameworks such as flask and bootstrap.</p>
        <a href="#" style="margin-left:2%;"><button class="btn btn-outline-info" >View Projects</button></a>
      </div>
      </div>
      <hr>
      <div class="contact-me">
        <h2>Get In Touch</h2>
        <h3><em>"Programming isn't about what you know; <br>it's about what you can figure out.” </em>  - Chris Pine</h3>
        <p class="contact-message">If you are looking for a dedicated programmer that has the patience and drive to solve any problem that comes their way, <br>⬇️.</p>
        <a class="btn btn-outline-info btn-lg" href="mailto:Dillon1john@gmail.com">CONTACT ME</a>
      </div>
    </div>


    <div class="bottom-container">
      <a class="footer-link" href="https://www.linkedin.com/in/dillon-j-12318a15a/">LinkedIn</a>
      <!-- <a class="footer-link" href="https://twitter.com/">Twitter</a> -->
      <a class="footer-link" href="https://github.com/Dillon1john">Github</a>
      <p class="tm">© 2021 Dillon John.</p>
    </div>


{% endblock %}