{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ project.title }}
{% endblock %}

{% block content %}

<script>
    function selectImage(index) {
        document.querySelectorAll('.thumbnail-gallery img').forEach(thumb => {
            thumb.classList.remove('active');
        });

        document.querySelectorAll('.thumbnail-gallery img')[index].classList.add('active');

        const carousel = new bootstrap.Carousel(document.getElementById('projectCarousel'));
        carousel.to(index);

        if (index === 3) {
            const video = document.getElementById('projectVideo');
            if (video) {
                carousel.pause();
                video.play();
            }
        } else {
            const video = document.getElementById('projectVideo');
            carousel.cycle();
            if (video) {
                video.pause();
                video.currentTime = 0;
            }
        }
    }
</script>

<style>
    h3 {
        font-family: 'RobotoSlabDark', 'sans-serif';
        color: darkcyan;
    }

    .project-details {
        padding: 1rem;
    }

    .centered-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 70vh;
        width: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .centered-details {
        max-width: 600px;
        text-align: center;
        padding: 2rem;
    }
</style>

<div class="topPage">
    <h1 style="font-family: 'RobotoSlabDark', 'sans-serif';"> {{ project.title }}</h1>
    <h6><a href="{% url 'projects' %}" class="back_button" style="font-family: 'RobotoSlabDark', 'sans-serif';">Back</a></h6>
</div>

<div class="pythonTable">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        <div class="row">
            <!-- Image Column -->
            <div class="col-12 col-lg-6 mb-4 mb-lg-0">
                <div id="projectCarousel" class="carousel slide" data-bs-ride="false">
                    <div class="carousel-inner">
                        {% if project.image %}
                            <div class="carousel-item active">
                                <img src="{{ project.image.url }}" class="d-block w-100" alt="{{ project.title }}">
                            </div>
                        {% endif %}
                        {% if project.image2 %}
                            <div class="carousel-item">
                                <img src="{{ project.image2.url }}" class="d-block w-100" alt="{{ project.title }}2">
                            </div>
                        {% endif %}
                        {% if project.image3 %}
                            <div class="carousel-item">
                                <img src="{{ project.image3.url }}" class="d-block w-100" alt="{{ project.title }}3">
                            </div>
                        {% endif %}
                        {% if project.video %}
                            <div class="carousel-item">
                                <video id="projectVideo" class="d-block w-100" disablePictureInPicture controls
                                       controlsList="nodownload noremoteplayback">
                                    <source src="{{ project.video.url }}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                        {% elif project.image4 %}
                            <div class="carousel-item">
                                <img src="{{ project.image4.url }}" class="d-block w-100" alt="{{ project.title }}4">
                            </div>
                        {% endif %}
                    </div>
                </div>

                <!-- Thumbnails -->
                <div class="row mt-3 thumbnail-gallery">
                    {% if project.image %}
                        <div class="col-3">
                            <img src="{{ project.image.url }}" class="img-thumbnail active" alt="{{ project.title }}"
                                 onclick="selectImage(0)">
                        </div>
                    {% endif %}
                    {% if project.image2 %}
                        <div class="col-3">
                            <img src="{{ project.image2.url }}" class="img-thumbnail" alt="{{ project.title }}2"
                                 onclick="selectImage(1)">
                        </div>
                    {% endif %}
                    {% if project.image3 %}
                        <div class="col-3">
                            <img src="{{ project.image3.url }}" class="img-thumbnail" alt="{{ project.title }}3"
                                 onclick="selectImage(2)">
                        </div>
                    {% endif %}
                    {% if project.image4 %}
                        <div class="col-3">
                            <img src="{{ project.image4.url }}" class="img-thumbnail"
                                 alt="{{ project.title }} Video" onclick="selectImage(3)">
                        </div>
                    {% endif %}
                </div>
            </div>

            <!-- Details Column -->
            {% if not project.image and not project.image2 and not project.image3 and not project.image4 and not project.video %}
            <div class="col-12">
                <div class="centered-container">
                    <div class="project-details centered-details">
            {% else %}
            <div class="col-12 col-lg-6">
                <div class="project-details">
            {% endif %}

                    {% if project.description %}
                        <div class="detail-item">
                            <h3>Description:</h3>
                            <span class="value">{{ project.description }}</span>
                        </div>
                    {% endif %}

                    <div class="detail-item">
                        <h3>Technologies Used:</h3>
                        <ul>
                            <h4>Programming Language:</h4>
                            {% for language in languages %}
                                {% if language|upper == 'CPP' %}
                                <li><p>C++</p></li>
                                {% else %}
                                <li><p>{{ language }}</p></li>
                                {% endif %}
                            {% endfor %}
                            <h4>Technologies:</h4>
                            {% for technology in technologies %}
                                <li><p>{{ technology }}</p></li>
                            {% endfor %}
                        </ul>
                    </div>

                    {% if project.github_link %}
                        <div class="detail-item">
                            <h3>Github Link:</h3>
                            <span class="value"><a href="{{ project.github_link }}"  target="_blank">{{ project.github_link }}</a></span>
                        </div>
                    {% endif %}

                    {% if project.live_demo_link %}
                        <div class="detail-item">
                            <h3>Project Link:</h3>
                            <span class="value"><a href="{{ project.live_demo_link }}"  target="_blank">{{ project.live_demo_link }}</a></span>
                        </div>
                    {% endif %}

                </div> <!-- CLOSE: project-details -->
                {% if not project.image and not project.image2 and not project.image3 and not project.image4 and not project.video %}
                    </div> <!-- CLOSE: centered-container -->
                {% endif %}
            </div> <!-- CLOSE: details column -->
        </div>
    </div>
</div>
</div>
{% include 'Portfolio/includes/footer.html' %}

{% endblock %}
